.input__form{
    width: 100%;
    height: 100%;
}

.input__form input{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 0 15px;
}

.input__form input:active,
.input__form input:focus{
    outline: none;
}